.popup__flex-container {
  margin: 0 auto;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000;
}

@media screen and (max-width: 600px) {
  .popup__flex-container {
    max-width: 238px;
  }
}
