.header {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 710px) {
  .header {
    margin-top: 28px;
    margin-bottom: 38.25px;
  }
}