.popup__icon-close {
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  top: -40px;
  right: -28px; 
}

.popup__icon-close:hover {
  opacity: 0.6;
}

.popup__icon-close:before, .popup__icon-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.popup__icon-close:before {
  transform: rotate(45deg);
}

.popup__icon-close:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 600px) {
  .popup__icon-close {
    top: -45px;
    right: 0;
  }
}