.popup__form-elements {
  width: 358px;
  min-height: 27px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  padding: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: block;
  margin-bottom: 30px; 
}

.popup__form-elements:focus {
  border: 1px solid blue;
}

@media screen and (max-width: 600px) {
  .popup__form-elements {
    max-width: 238px;
  }
}